@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div ng-app="HomeApp" ng-controller="EmployeeController"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"> </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" ng-model="Employee.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" ng-model="Employee.City" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <input type="text" ng-model="Employee.Gender" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Department</label>
                    <input type="text" ng-model="Employee.Department" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-primary" ng-click="savedata()" value="{{btntext}}" />
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <script src="~/Script/AngularController/Home.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</body>
</html>  